################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlobExplorer/bin/x86/Debug
/BlobExplorer/BlobExplorer/bin/x86/Debug
/BlobExplorer/BlobExplorer/obj/x86/Debug
/BlobExplorer/BlobExplorer/bin/x86/Release
/BlobExplorer/BlobExplorer/BundleArtifacts
/BlobExplorer/BlobExplorer/obj
/BlobExplorer/BlobExplorer/bin
/BlobExplorer/BlobExplorer/AppPackages
/BlobExplorer/BlobExplorer.Tasks/obj/x86/Debug
/BlobExplorer/BlobExplorer.Tasks/bin/x86/Debug
